<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">

    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <patternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </console>
    </appenders>

    <loggers>
        <logger name="ru.zalex.tipograf" level="debug" additivity="true">
            <appenderRef ref="Console"/>
        </logger>

        <!-- Root Logger -->
        <root level="all">
            <appenderRef ref="Console"/>
        </root>
    </loggers>


</configuration>


        <!--<?xml version="1.0" encoding="UTF-8" ?>-->
        <!--<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">-->
        <!--<log4j:configuration debug="true"-->
        <!--                     xmlns:log4j='http://jakarta.apache.org/log4j/'>-->

        <!--    <appender name="file" class="org.apache.log4j.RollingFileAppender">-->
        <!--        <param name="append" value="false" />-->
        <!--        <param name="maxFileSize" value="10KB" />-->
        <!--        <param name="maxBackupIndex" value="5" />-->
        <!--        &lt;!&ndash; For Tomcat &ndash;&gt;-->
        <!--        <param name="file" value="${catalina.home}/logs/myStruts1App.log" />-->
        <!--        <layout class="org.apache.log4j.PatternLayout">-->
        <!--            <param name="ConversionPattern"-->
        <!--                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />-->
        <!--        </layout>-->
        <!--    </appender>-->

        <!--    <root>-->
        <!--        <level value="ERROR" />-->
        <!--        <appender-ref ref="file" />-->
        <!--    </root>-->

        <!--</log4j:configuration>-->





